name: Deploy to Windows VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.19"
          cache: "npm"

      - name: Install dependencies
        run:
          npm ci;

      # 2. Instalar PM2 globalmente
      - name: Install PM2
        run: npm install -g pm2

      - name: Build application
        run: npm run build

      - name: Restart Nest app with PM2
        shell: cmd
        env:
          PM2_HOME: C:\pm2
          HOMEPATH: C:\Users\Public
        run: |
          if not exist C:\pm2 mkdir C:\pm2
          pm2 start dist/main.ts --name api-fmc

