name: Deploy NestJS App

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Arreglar PATH usando PowerShell (Nativo de Windows)
      - name: Add Git Tools to PATH
        run: |
          $gitBin = "C:\Program Files\Git\usr\bin"
          if (Test-Path $gitBin) {
              $gitBin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
              Write-Host "Path de Git añadido correctamente."
          } else {
              Write-Error "No se encontró la carpeta de Git en C:\Program Files\Git\usr\bin"
          }
        shell: powershell

      - name: Install dependencies
        run: npm ci

      - name: Build NestJS
        run: npm run build

      # 2. Despliegue con PM2 usando CMD y ruta dedicada
      - name: Deploy to PM2
        shell: cmd
        env:
          PM2_HOME: 'C:\pm2_home'
        run: |
          :: Limpiar caché de PM2 y asegurar que el daemon responda
          pm2 update
          :: Intentar borrar si ya existe para evitar bloqueos de archivos en dist/
          pm2 delete api-femase || ver > nul
          :: Lanzar la app
          pm2 start dist/main.js --name "api-femase"
          pm2 save