name: Deploy NestJS App

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: self-hosted # Tu servidor Windows
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Solución al error de gzip / tar
      - name: Fix Path for Git Tools
        run: echo "C:\Program Files\Git\usr\bin" >> $GITHUB_PATH
        shell: bash

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm' # Esto usa actions/cache internamente

      # 2. Instalación y Build de NestJS
      - name: Install dependencies
        run: npm ci

      - name: Build Application
        run: npm run build

      # 3. Despliegue con PM2 (Solución al error EPERM)
      - name: Deploy with PM2
        shell: cmd
        env:
          PM2_HOME: 'C:\pm2_home' # Evita conflictos de permisos en C:\Users
        run: |
          :: Intentar borrar el proceso previo para evitar bloqueos de rpc.sock
          pm2 delete api-nest || ver > nul
          
          :: Iniciar la app apuntando al archivo generado en dist
          pm2 start dist/main.ts --name "api-nest" --update-env
          
          :: Guardar la lista de procesos
          pm2 save