name: Deploy NestJS App

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Arreglar PATH usando PowerShell (Nativo de Windows)
      - name: Add Git Tools to PATH
        run: |
          $gitBin = "C:\Program Files\Git\usr\bin"
          if (Test-Path $gitBin) {
              $gitBin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
              Write-Host "Path de Git añadido correctamente."
          } else {
              Write-Error "No se encontró la carpeta de Git en C:\Program Files\Git\usr\bin"
          }
        shell: powershell

      - name: Install dependencies
        run: npm ci

      - name: Build NestJS
        run: npm run build

      # 2. Despliegue con PM2 usando CMD y ruta dedicada
      - name: Deploy to PM2
        shell: cmd
        env:
          PM2_HOME: 'C:\pm2_home'
        run: |
          :: 1. Actualizar/Reiniciar el daemon
          call pm2 update
          
          :: 2. Borrar el proceso anterior para liberar archivos en dist/
          call pm2 delete api-femase || ver > nul
          
          :: 3. Lanzar el archivo COMPILADO (.js)
          call pm2 start dist/main.js --name "api-femase"
          
          :: 4. Guardar configuración
          call pm2 save