name: Deploy NestJS App

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Arreglar PATH usando PowerShell (Nativo de Windows)
      - name: Add Git Tools to PATH
        run: |
          $gitBin = "C:\Program Files\Git\usr\bin"
          if (Test-Path $gitBin) {
              $gitBin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
              Write-Host "Path de Git añadido correctamente."
          } else {
              Write-Error "No se encontró la carpeta de Git en C:\Program Files\Git\usr\bin"
          }
        shell: powershell

      - name: Install dependencies
        run: npm ci

      - name: Build NestJS
        run: npm run build

      # 2. Despliegue con PM2 usando CMD y ruta dedicada
      - name: Deploy to PM2
        shell: cmd
        env:
          PM2_HOME: 'C:\pm2_home'
        run: |
          :: Forzar que PM2 use la carpeta y verificar permisos
          if not exist C:\pm2_home mkdir C:\pm2_home
          
          call pm2 kill
          
          :: Intentar arrancar y capturar salida
          call pm2 start dist/main.js --name "api-femase"
          
          :: Esperar 2 segundos y mostrar la lista para confirmar en el log de GitHub
          timeout /t 2 /nobreak > nul
          call pm2 list
          
          :: Si la lista aquí sale vacía, es que no hubo permisos de escritura
          call pm2 save